.content{
    display: inline-block;
    width: calc(100vw - var(--navWidth) - 20px);
    height: calc(100vh - 74px);
    background-color: #FFFFFF; 
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: all 1.5s;
    overflow: auto;
}