.header-main{
    height: 64px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.header-main h3{
    margin: 15px;
    font-size: 24px; 
}
.header-main img{
    height: 54px;
    margin: 5px;
    margin-right: 15px;
    border-radius: 27px;
}
.formId{
    display: flex;
    flex-direction: column;
}
.formId img{
    width: 50%;
    border-radius: 50%;
    align-self: center;
}

#nav-toggle{
    display: none;
}
/* #nav-toggle:checked{
    display: none;
    background-color: aqua;
    font-size: large;
    --navWidth: 0px;
} */