.main{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "head head"
    "nav main";
}
.nav-toggler{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}
header{
    grid-area: head;
}
.header-main{
    height: 64px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.header-main h3{
    margin: 15px;
    font-size: 24px; 
}
.header-main img{
    height: 54px;
    margin: 5px;
    margin-right: 25px;
    border-radius: 27px;
}
.formId{
    display: flex;
    flex-direction: column;
}
.formId img{
    width: 50%;
    border-radius: 50%;
    align-self: center;
}

#nav-toggle{
    display: none;
}
#nav-toggle:checked ~ main{
    --navWidth: 0px;
}
#nav-toggle:checked ~ nav{
    transform: translateX(-225px);
    overflow: hidden;
    --navWidth: 0px;
}

nav{
    grid-area: nav;
    height: calc(100vh - 64px);
    width: var(--navWidth);
    transition: all .5s;
}

.nav-items{
    text-decoration: none;
    padding: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
    margin: 2px;
    border-radius: 25px;
}

.nav-items:hover{
    background-color: #0b57d014;
}
.nav-items.active{
    background-color: #c2e7ff;
    font-weight: 500;
}

main{
    grid-area: main;
    width: calc(100svw - var(--navWidth) - 10px);
    margin: 5px;
    height: calc(100vh - 84px);
    background-color: #FFFFFF; 
    border-radius: 25px;
    overflow: auto;
    transition: all 0.5s ;
    md-list:hover{
        /* scale:1.01; */
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);
        transition: box-shadow .1s;
    }
}

@media only screen and (max-width: 850px) {
    :root{
        --navWidth : 225px;
    }
    .main{
        grid-template-areas: 
        "head head"
        "main main";
    }
    main{
        width: calc(100vw - 10px);
    }
    nav{
        --navWidth : 225px;
        padding-top: 25px;
        z-index: 100;
        width: var(--navWidth);
        background-color: #FFFFFF;
        height: 100vh;
        position: fixed;
        left: 0px;
        transform: translateX(-225px);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    }
    .nav-toggler{
        display: none;
        background-color: rgba(0, 0, 0, 0.168);
        z-index: -1;
    }
    #nav-toggle:checked ~ nav{
        --navWidth : 225px;
        transform: unset;
    }
    #nav-toggle:checked ~ .nav-toggler{
        display: unset;
        z-index: 99;
    }
    .summary{
        width: 90%;
    }
}