@font-face{
  font-family: g-sans;
  src: url(./Components/style/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}

body {
  margin: 0;
  font-family: g-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --md-sys-color-primary: #6442d6;
  --md-sys-color-primary-container:#bdc7c7;
 	--md-sys-color-surface-container :#cce1e1;
  --md-dialog-container-color:#f8fafd;
  --md-list-container-color:#f8fafd;
  --navWidth : 225px;
  --md-fab-container-color : #f8fafd;
  --md-fab-icon-color : #555555;
}

html{
  background-color: #f8fafd;
}
.main-area{
  padding: 25px;
  display:flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  --md-filled-button-container-color: #c2e7ff;
  --md-filled-icon-button-container-color: #c2e7ff;
}
.input-field{
  width: 85%;
  margin: 10px;
  max-width: 350px;
  resize:none;
}
.fab {
  position:fixed;
  bottom: 15px;
  right: 45px;
  cursor: pointer;
}

.fl{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-view{
  width: 500px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 25px
}

.key-text{
  display: flex;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 30px;
  margin: 0px;
}
.value-text{
  font-weight: 200;
  padding: 2px;
  padding-left: 20px;
  font-size: 40px;
  margin: 0px;
}
.button-primary{
  --md-filled-button-container-color: #6442d6;
  margin-left: 15px;
}
.compliant-summary{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 2%;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #c2e7ff28;
}
.compliant-summary div{
  flex-grow: 1;
}
table{
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  border-bottom: 1px solid #555555;
  border-collapse: separate;
  position: sticky;
  top: 0px;
  background: white;
}