@font-face {
  font-family: g-sans;
  src: url(./Components/style/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2);
}

#root {
  height: 100vh;
  /* width: 100vw; */
}

html,
body {
  margin: 0;
  /* width: 100vw;
  height: 100vh; */
  font-family: g-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --md-sys-color-primary: #6442d6;
  --md-sys-color-primary-container: #bdc7c7; /* Light container for primary */
  --md-sys-color-surface-container: #cce1e1; /* Surface container color */
  --md-dialog-container-color: #f8fafd; /* Dialog container background */
  --md-list-container-color: #f8fafd; /* List container background */
  --navWidth: 225px; /* Navigation width */
  --md-select-option-color:var(--md-dialog-container-color);
  --md-menu-container-color: rgb(230, 240, 250);
  --md-fab-container-color : rgb(230, 240, 250);
  --md-sys-color-surface-container-high: #f8fafd;
  --md-fab-icon-color: #333;
}

html {
  background-color: #f8fafd;
}

.content a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #276ad5;
}

abbr {
  text-decoration: none;
}

.main-area {
  max-width: 100%;
  padding: 25px;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.input-field {
  width: 85%;
  margin: 10px;
  max-width: 350px;
  resize: none;
}

.fab {
  --md-menu-container-color: rgb(230, 240, 250);
  --md-fab-container-color : rgb(230, 240, 250);
  position: fixed;
  bottom: 15px;
  right: 45px;
  cursor: pointer;
}

.fl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-view {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 25px
}

.key-text {
  display: flex;
  font-size: 20px;
  font-weight: 300;
  padding: 5px;
  padding-left: 20px;
  padding-right: 30px;
  margin: 0px;
  align-self: center;
}

.value-text {
  font-weight: 200;
  padding: 2px;
  padding-left: 20px;
  font-size: 40px;
  margin: 0px;
}

.button-primary {
  --md-filled-button-container-color: #6442d6;
  margin-left: 15px;
}

.button-error {
  --md-filled-button-container-color: #d64242;
}

.compliant-summary {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 2%;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #c2e7ff28;
}

.compliant-summary div {
  flex-grow: 1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid #555555;
  border-collapse: separate;
  position: sticky;
  top: 0px;
  background: white;
}

.summary {
  min-width: 49%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border-radius: 25px;
  background-color: #f0f4f9;
  overflow:hidden;
}

.summary div {
  flex-grow: 1;
}

.value {
  font-size: 18px;
  margin: 7px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.checkout {
  height: 60px;
  width: 300px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 7px;
  /* border: none; */
}